#basic-datatable-produtos{
    .product-image{
        width:70px;
        height:70px;
        padding: 0;
        display:flex;
        justify-content:center;
        img{
            object-fit:cover;
        }
    }
}

.dropzone {
    min-height: 230px;
}

.dropzone .dz-message:before{
    top: 10rem;
    width: 60px;
    height: 60px;
}

@media(max-width:1200px){

}
